.header{
    height: 10vh;
    background-image: linear-gradient(-20deg, #e9defa 0%, #f8f9dd 100%);
    text-decoration: none;
    color: black;
    font-size: large;
    
   .d-inline-block{
    mix-blend-mode: multiply;
   } 
}
.me-auto{
    margin-left: auto;
}
